body {
    padding: 0;
    margin: 0;
    background: rgb(255,255,255);
    background: linear-gradient(151deg, rgba(255,255,255,1) 0%, rgba(235,90,90,0.5018382352941176) 33%, rgba(235,160,90,0.4990371148459384) 50%, rgba(235,211,90,0.5018382352941176) 66%, rgba(255,255,255,1) 100%);
}

#page-container {
    position: relative;
    min-height: 102vh;
}

#content-wrap {
    padding-bottom: 5em;
}

#Logo {
    width: 7.5em;
    position: absolute;
    border-radius: 75px;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.navbar {
    background: #1a1a1a;
    height: 5em;
}

.nav-link {
    color: white !important;
    font-size: 1.3rem;
    margin-right: 1em !important;
    text-decoration: none;
    justify-content: flex-end;
    font-family: 'Ubuntu', sans-serif;
}

.nav-link:hover {
    transform: scale(1.1);
    color: red !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggle{
    background-color: transparent;
    border: transparent;
    position: sticky;
}

.navbar-toggle:hover {
    transform: scale(1.1);
}

.navbar-toggle:active {
background-color: gray;
    border-radius: 100%;
}

.navbar-collapse {
    background-color: #1a1a1a;
}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

h1 {
    color: #1a1a1a;
    padding-top: 2.5em;
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
}

#Profile_Picture {
    width: 30em;
    display: block;
    padding-top: 5em;
    border-radius: 50%;
    pointer-events: none;
}

#Skillset {
    font-family: 'Nanum Gothic Coding', monospace;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    border-radius: 1.3rem;
    color: #1a1a1a;
	font-size: 1.3rem;
	line-height: 1.5;
    text-align: center;
}

.Bold_Text {
    font-weight: 600;
}

.Text_Link {
    text-decoration: underline;
    color: #1a1a1a;
}

.Text_Link:hover {
    text-decoration: underline;
    color: red;
}

.page-footer {
    position: absolute;
    width: 100%;
    background-color: white;
    color: #1a1a1a;
    padding: 25px 0 15px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 20px;
    bottom: 0;
}
.Footer_Text {
    font-size: 1.1rem;
}

@media (max-width: 1200px) {
    #Profile_Picture {
        width: 25em;
    }
}

@media (max-width: 1000px) {
    #Profile_Picture {
        width: 20em;
    }
}

@media (max-width: 800px) {
    #Profile_Picture {
        width: 18em;
    }
}

@media (max-width: 600px) {
    #Logo {
        width: 6em;
    }

    #Profile_Picture {
        width: 80%;
    }

    #Skillset {
        font-size: 1.2rem;
    }

    .Footer_Text {
        font-size: 1rem;
    }

    .navbar {
        height: 4em;
    }
}