html, body {
    padding: 0;
    margin: 0;
    background: #1a1a1a !important;
}

#page-container {
    position: relative;
    min-height: 102vh;
}

#content-wrap {
    display: flex;
    padding-bottom: 1em;
}

.container {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}

#Logo {
    width: 8em;
    position: absolute;
    border-radius: 75px;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.navbar {
    background: white;
    height: 5em;
}

.nav-link {
    font-size: 1.3rem;
    margin-right: 2.5em !important;
    text-decoration: none;
    justify-content: flex-end;
    font-family: 'Ubuntu', sans-serif;
}

#home-button {
    color: #e75d58;
    font-weight: bold;
}

#work-button {
    color: #99cc8b;
    font-weight: bold;
}

.nav-link:hover {
    transform: scale(1.2);
}

.nav-link:after {
    font-weight: bold;
}

.navbar-collapse {
    background-color: white !important;
    justify-content: flex-end;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(231,93,88)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggle{
    background-color: transparent;
    border: transparent;
    position: sticky;
}

.navbar-toggle:hover {
    transform: scale(1.15);
}

.navbar-toggle:active {
    background-color: #99cc8b;
    height: 2em;
    border-radius: 50%;
}

.features {
	margin: 1em auto;
	padding: 1em;
	position: relative;
}

#Exhibition-Title {
    width: 95%;
    padding-top: 12.5em;
    pointer-events: none;
}

#Intro-Text {
    font-size: 1.4rem;
    padding-top: 6.5em;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    color: white;
    padding-top: 5em;
    padding-bottom: 1em;
	line-height: 1.5;
    text-align: center;
}

.Other-Headers {
    padding-top: 3em;
}

#Shaping-Title {
    padding-top: 3em;
    padding-bottom: 0;
}

#Shaping-Text {
    padding-top: 0;
    padding-bottom: 1em;
}

.carousel {
    position: relative;
    margin: 0 auto;
    width: 85%;
    height: 850px
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel__track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel__track {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button img {
    width: 4em;
}

.carousel__button--left {
    z-index: 99;
    left: 3em;
}

.carousel__button--right {
    right: 3em;
}

.is-hidden {
    display: none;
}

.Container {
    display: flex;
    justify-content: center;
}

#provisweb {
    width: 80%;
}

#PVLogo {
    width: 32%;
    padding-bottom: 2.5em;
}

.teowb-image {
    width: 64%;
}

#ukraineweb {
    width: 80%;
}

.successful-poster {
    width: 41%;
    padding: 1em;
}

.work-text {
    font-size: 1.2rem;
    font-family: 'Nanum Gothic Coding', monospace;
    color: white;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
	line-height: 1.5;
    text-align: center;
}

.Bold_Text {
    font-weight: 600;
}

#Footer_Section {
    position: relative;
    width: 100%;
    background: linear-gradient(207deg, rgba(255,255,255,1) 0%, rgba(255,145,123,1) 50%, rgba(255,255,255,1) 100%);
    color: #1a1a1a;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    bottom: 0;
    height: 5em;
}

.Footer_Text {
    padding-top: 1.5rem;
    text-align: center;
    font-size: 1.1rem;
}

@media (max-width: 1600px) {
    .carousel {
        height: 700px;
    }

    .carousel__button--left {
        left: 1.75em;
    }
    
    .carousel__button--right {
        right: 1.75em;
    }
}

@media (max-width: 1400px) {
    .carousel {
        height: 600px;
    }

    .carousel__button img {
        width: 3.5em;
    }
    
    .carousel__button--left {
        left: 1.75em;
    }
    
    .carousel__button--right {
        right: 1.75em;
    }
}

@media (max-width: 1200px) {
    .carousel {
        height: 525px;
    }

    .carousel__button--left {
        left: 0.5em;
    }
    
    .carousel__button--right {
        right: 0.5em;
    }

    #Shaping-Text {
        padding-top: 1em;
        padding-bottom: 0;
    }
}

@media (max-width: 990px) {
    .carousel {
        height: 500px;
    }

    .carousel__button img {
        width: 3em;
    }

    .carousel__button--left {
        left: 1.2em;
    }
    
    .carousel__button--right {
        right: 1.2em;
    }
}

@media (max-width: 767px) {
    .carousel {
        width: 100%;
        height: 425px;
    }

    .carousel__button img {
        width: 2.5em;
    }

    .carousel__button--left {
        left: 1em;
    }
    
    .carousel__button--right {
        right: 1em;
    }

    .nav-link {
        margin-right: 1.75em !important;
    }

    .navbar-collapse {
        margin-top: 1.5em;
        background-color: rgba(26, 26, 26, 0.75);
        width: 50%;
    }

    #Shaping-Title {
        padding-top: 3em;
        padding-bottom: 0.5em;
    }

    #provisweb {
        width: 100%;
    }

    .teowb-image {
        width: 100%;
    }

    #shapingcon {
        width: 100%;
    }

    #ukraineweb {
        width: 100%;
    }

    .successful-poster {
        width: 100%;
        padding: 0;
        padding-bottom: 2.5em;
    }

    #Success-Container {
        display: inline-block;
    }

    .work-text {
        font-size: 1rem;
    }

    #PVLogo {
        width: 64%;
        padding-bottom: 2.5em;
    }
}

@media (max-width: 600px) {
    #Exhibition-Title {
        padding-top: 12em;
    }

    #Intro-Text {
        font-size: 1.2rem;
    }

    .carousel {
        height: 400px;
    }

    .carousel__button img {
        width: 2.25em;
    }

    .carousel__button--left {
        left: 0.6em;
    }
    
    .carousel__button--right {
        right: 0.6em;
    }

    #Logo {
        width: 6.5em;
    }

    .Footer_Text {
        font-size: 1rem;
    }

    .navbar {
        height: 4em;
    }

    .page-footer {
        height: 4em;
    }
}

@media (max-width: 500px) {
    .carousel {
        height: 275px;
    }

    .carousel__button--left {
        left: 0.3em;
    }
    
    .carousel__button--right {
        right: 0.3em;
    }

    #Intro-Text {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media (max-width: 400px) {
    .carousel {
        height: 250px;
    }

    .carousel__button img {
        width: 1.75em;
    }

    .carousel__button--left {
        left: 0.1em;
    }
    
    .carousel__button--right {
        right: 0.1em;
    }
}