body {
    padding: 0;
    margin: 0;
    background: #1a1a1a !important;
}

#Logo {
    position: absolute;
    border-radius: 75px;
    top: 0px;
    left: 0px;
}

.navbar {
    background: #1a1a1a;
    height: 80px;
}

.nav-link {
    color: white !important;
    font-size: 1.3rem;
    margin-right: 1em !important;
    text-decoration: none;
    justify-content: flex-end;
}

.nav-link:hover {
    transform: scale(1.1);
    color: red !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image:url("../Content/Front Page/Nordic Mountains Half.png");
    background-size: cover;
    background-position: center;
    position: relative;
    vertical-align: middle;
    display: flex;
}

.description {
    background-color: rgba(26, 26, 26, 0.5);
    border-radius: 1.3rem;
    padding: 20px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -30%);
}

.description p {
    margin-top: 10px;
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
    text-align: center;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none !important;
}

.navbar-toggler:hover {
    transform: scale(1.1);
}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

#Profile_Picture {
    text-align: center;
    width: 75%;
    border-radius: 15rem;
    filter: grayscale(100%);
    margin-left: 55px;
}

#Skillset {
    width: 100%;
    border-radius: 1.3rem;
    color: white;
	font-size: 1.3rem;
	line-height: 1.5;
    text-align: center;
}

.page-footer {
    background-color: white;
    color: black;
    padding: 25px 0 15px;
    text-align: center;
}
.Footer_Text {
    font-size: 1.3rem;
}

@media (max-width: 600px) {
    .description {
        left: 15px;
	    right: 15px;
        padding: 0 15px;
        position: absolute;
        transform: none;
        text-align: center;
	    transform: translate(0%, -25%);
    }
 
    .description p {
        font-size: 1.2rem;
    }

    #Logo {
        width: 125px;
    }

    #Skillset {
        font-size: 1.2rem;
    }

    .Footer_Text {
        font-size: 1.2rem;
    }
}
