html, body {
    padding: 0;
    margin: 0;
    background: rgb(255,255,255);
}

#page-container {
    position: relative;
    min-height: 102vh;
}

#content-wrap {
    padding-bottom: 1em;
}

.container {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}

#Colour_Background {
    background: linear-gradient(153deg, rgba(255,255,255,1) 15%, rgba(247,46,6,0.4) 50%, rgba(255,255,255,1) 100%);
}

#Logo {
    width: 7.5em;
    position: absolute;
    border-radius: 75px;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.navbar {
    background: #1a1a1a;
    height: 5em;
}

.nav-link {
    color: white !important;
    font-size: 1.3rem;
    margin-right: 2.5em !important;
    text-decoration: none;
    justify-content: flex-end;
    font-family: 'Ubuntu', sans-serif;
}

.nav-link:hover {
    transform: scale(1.15);
    color: red !important;
}

.nav-link:after {
    font-weight: bold;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header {
    height: 100%;
    background-image:url("../Content/Front Page/Nordic Mountains Half.png");
    background-size: cover;
    background-position: center;
    position: relative;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.description {
    background-color: rgba(26, 26, 26, 0.64);
    border-radius: 1.3rem;
    padding: 1em;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -25%);
    font-family: 'Nanum Gothic Coding', monospace;
}

.description p {
    margin-top: 1em;
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
    text-align: center;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggle{
    background-color: transparent;
    border: transparent;
    position: sticky;
}

.navbar-toggle:hover {
    transform: scale(1.15);
}

.navbar-toggle:active {
    background-color: orange;
    height: 2em;
    border-radius: 50%;
}

.navbar-collapse {
    background-color: #1a1a1a;
}

.features {
	margin: 1em auto;
	padding: 1em;
	position: relative;
}

h1 {
    color: #1a1a1a;
    padding-top: 4em;
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
}

#PP_Container {
    padding-top: 6.5em;
}

#Profile_Picture {
    display: block;
    width: 25em;
    border-radius: 50%;
}

#Profile_Picture:hover {
    transform: scale(1.15);
}

#Skillset {
    font-family: 'Nanum Gothic Coding', monospace;
    padding-top: 6.5em;
    padding-bottom: 4em;
    color: #1a1a1a;
	font-size: 1.3rem;
	line-height: 1.5;
    text-align: center;
}

.Bold_Text {
    font-weight: 600;
}

.Text_Link {
    text-decoration: underline;
    color: #1a1a1a;
}

.Text_Link:hover {
    text-decoration: underline;
    color: red;
}

#thumbnails {
    display: flex;
    margin-top: 7em;
    -webkit-column-count: 2;
    -webkit-column-gap: 11em;
    -moz-column-count:    2;
    -moz-column-gap: 11em;
    column-count:         2;
    column-gap: 11em;  
}

#thumbnails a {
    width: 40%;
}
  
#thumbnails img {
    margin: auto;
    width: 100%;
    height: auto !important;
    border-radius: 2em;
}

#thumbnails img:hover {
    transform: scale(1.1);
    border-radius: 2em;
}

h2 {
    font-family: 'Nanum Gothic Coding', monospace;
    padding-top: 4em;
    color: #1a1a1a;
	font-size: 1.1rem;
	line-height: 1.5;
    text-align: center;
}

#Footer_Section {
    position: relative;
    width: 100%;
    background-color: white;
    color: #1a1a1a;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    bottom: 0;
    height: 5em;
}

.Footer_Text {
    padding-top: 1.8em;
    text-align: center;
    font-size: 1.1rem;
}

@media (max-width: 1868px) {
    #PP_Container {
        padding-top: 7.5em;
    }
}

@media (max-width: 1758px) {
    #PP_Container {
        padding-top: 8.5em;
    }

    #thumbnails {
        margin-top: 2em;
        -webkit-column-gap: 9em;
        -moz-column-gap: 9em;
        column-gap: 9em;  
    }
}

@media (max-width: 1346px) {
    #PP_Container {
        padding-top: 10em;
    }

    #thumbnails {
        -webkit-column-gap: 8em;
        -moz-column-gap: 8em;
        column-gap: 8em;  
    }
}

@media (max-width: 1200px) {
    #PP_Container {
        padding-top: 10.5em;
    }

    #Profile_Picture {
        width: 25em;
    }

    #thumbnails {
        -webkit-column-gap: 7em;
        -moz-column-gap: 7em;
        column-gap: 7em;  
    }
}

@media (max-width: 1000px) {
    #PP_Container {
        padding-top: 15em;
    }

    #Profile_Picture {
        width: 20em;
    }

    #thumbnails {
        -webkit-column-gap: 4em;
        -moz-column-gap: 4em;
        column-gap: 4em;  
    }
}

@media (max-width: 800px) {
    #PP_Container {
        padding-top: 20em;
    }

    #Profile_Picture {
        width: 18em;
    }

    #thumbnails img {
        border-radius: 1em;
        margin-top: 2em;
        -webkit-column-gap: 2.5em;
        -moz-column-gap: 2.5em;
        column-gap: 2.5em;  
    }
}

@media (max-width: 767px) {
    .nav-link {
        margin-right: 1.75em !important;
    }

    .navbar-collapse {
        margin-top: 1.5em;
        background-color: rgba(26, 26, 26, 0.75);
        width: 50%;
    }

    #PP_Container {
        padding-top: 7em;
    }

    #Profile_Picture {
        width: 25em;
    }

    #thumbnails {
        display: block;
        width: 100%;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    #thumbnails a {
        display: block;
        margin: auto;
        width: 80%;
    }
    
    #thumbnails img {
        display: flex;
        width: 100%;
        border-radius: 2em;
        margin-bottom: 2em;
    }

    #Skillset {
        padding-bottom: 2em;
    }
}

@media (max-width: 600px) {
    .description {
        left: 1em;
	    right: 1em;
        padding: 0 1em;
        position: absolute;
        transform: none;
        text-align: center;
	    transform: translate(0%, -35%);
    }
 
    .description p {
        font-size: 1.15rem;
    }

    .Call_Button button {
        font-size: 1.45rem;
    }

    #Logo {
        width: 6em;
    }

    .Footer_Text {
        font-size: 1rem;
    }

    .navbar {
        height: 4em;
    }

    .page-footer {
        height: 4em;
    }

    #Profile_Picture {
        width: 80%;
    }

    #Skillset {
        font-size: 1.2rem;
        padding-top: 5em;
        padding-bottom: 1em;
    }

    h1 {
        padding-top: 2em;
    }

    h2 {
        padding-top: 1em;
    }

    #thumbnails {
        margin-top: 2em;
    }

    #thumbnails a {
        width: 100%;
    }

    #thumbnails img {
        width: 90%;
        margin-bottom: 2.25em;
    }

    #thumbnails img:hover {
        border-radius: 2em;
    }
}
